{% extends 'base.html' %}
{% load static %}
{% block titile %}
    Город открытий
{% endblock %}

{% block content %}
    	<div id="twinparty-hero">
		<div class="container">
			<div class="row row-pb-lg">
				<div class="col-sm-5">
				<div class="hero_img">
						<a href="index.html"><img class="img-responsive" src="{% static 'media/city_logo3.png'%}" alt="" width="300px"> </a>
						</div>
					</div>
					<div class="col-sm-7" style="margin-top: 9em;">
						<div class="about ">
						<h3>"Город открытий" – исследовательская лаборатория в условиях живого города</h3>
						<h4>"Город открытий" - это увлекательное и познавательное путешествие для школьников, это знакомство с инновационными отраслями и индустриями, возможность научиться открывать новые ресурсы в себе и находить их в пространстве города</h4>
							</div>
					</div>
				</div>
			</div>
		</div>
		</div>

<div id="twinparty-hero">
<div class="container-fluid">
 <div class="row pb-60">
 	<div class="col-md-12 animate-box">
								<h3 style="text-align: center; padding: 0.5em 0;">"Город открытий" представит Москву <br>в фокусе в динамично развивающихся индустрий:</h3>
							</div>
  <div class="col-md-12" id="svgParent" style="height: 100%">
		<object type="image/svg+xml" data="images/lustra_bw.svg" id="svg"  class="icon"></object>
</div>
 </div>
</div>
</div>

	<div id="twinparty-hero">
		<div id="accordion" class="accordion">
		<div class="container">
        <div class="row">
            <div class="panel-left col-md-offset-2 col-sm-8" >
						<div class="entry animate-box">
						<h2>Из чего состоит программа "Город открытий"</h2>
                <div class="accordion-item">
                    <div class="accordion-item-header">
                        1. Занятия по навыкам XXI века в школе
                        {{ request.form }}
                    </div>
                    <div class="accordion-item-content">
                       Для школьников программа начнется в их родной школе с серии интерактивных занятий, направленных на развитие мягких навыков (их называют навыками XXI века). Это универсальные умения, которые во многом определяет профессиональную успешность и личную эффективность человека. Среди них – умение работать с людьми, системное мышление, мультикультурность, умение работать условиях неопределенности. Полученный школьниками опыт получит свое применение и дальнейшее развитие во время поездке в Москву.
                    </div>
                </div>

                <div class="accordion-item">
                    <div class="accordion-item-header">
                        2. Выбор профессионального направления
                    </div>
                    <div class="accordion-item-content">
                        Перед поездкой в Москву школьники выберут наиболее интересное и подходящее направление профессиональной деятельности. Сделать этот выбор им поможет специальный навигатор для школьников и их родителей. Отвечая на вопросы навигатора, подростки проанализируют свои интересы и способности и выберут одно из восьми профессиональных направлений.
                    </div>
                </div>

                <div class="accordion-item">
                    <div class="accordion-item-header">
                        3. Прибытие в Москву
                    </div>
                    <div class="accordion-item-content">
                       Программа продолжится в Москве. Участники разместятся в гостинице, после чего начнется пятидневное приключение в Городе открытий. Каждое утро автобус будет забирать детей в увлекательное исследование выбранных направлений, а вечером вновь возвращать в гостиницу.
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-item-header">
                       4. Деловая игра «Перекресток путей»
                    </div>
                    <div class="accordion-item-content">
                        Первое событие Города открытий – это общая деловая игра, которая погрузит участников в мир исследования и поиска. Подростки познакомятся с миром профессий будущего, и поставят перед собой исследовательские задачи, которые им предстоит решить в ходе знакомства с индустриями образовательного маршрута.
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-item-header">
                       5. Образовательный маршрут
                    </div>
                    <div class="accordion-item-content">
                        В течение пяти дней подростки в сопровождении гидов Города открытий пройдут восемь образовательных треков, каждый из которых посвящен одной из перспективных современных индустрий. Они посетят крупнейшие профильные организации, производства, вузы, технопарки и культурные объекты Москвы.
                        <br>Подростки увидят город как живую изменяющуюся систему, как взаимосвязь обраслей, объектов, людей и результатов их труа.
						<br>Полученные знания и опыт помогут им увидеть, как выбранные профессиональные направления преломляется в различных отраслях.
						<br>Но главное, что получат подростки в Городе открытий – это тренировка навыка самостоятельного исследования ресурсов, поиска и анализа информации для решения стоящих перед ними задач.
						<br>В программу маршрутов войдут также традиционные культурно-досуговые объекты Столицы.
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-item-header">
                       6. Завершающая форсайт-сессия «Конструкторы будущего»
                    </div>
                    <div class="accordion-item-content">
                        Программа в Москве завершится форсайт-сессией, , когда все участники из разных уголков России снова встретятся на одной площадке, подведут итоги поездки и выступят конструкторами будущего своих родных городов во время форсайт-сессии.
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-item-header">
                       7. Рефлексия результатов образовательного тура
                    </div>
                    <div class="accordion-item-content">
                        Вернувшись домой, подростки обсудят результаты поездки с родителями, а в классе - друг с другом в ходе специально организованной педагогом фасилитации.
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-item-header">
                       8. Создание итогового проекта
                    </div>
                    <div class="accordion-item-content">
                        В завершении программы школьники создадут совместный проект, в котором отразят итоги программы «Город открытий» а также то, как они планируют применять полученные навыки, сделав свой родной город настоящим Городом открытий.
                    </div>
                </div>
                </div>
            </div>
        </div>
        </div>
        </div>
        </div>



	<div class="container">
        <div class="row pb-60 pt-60">
            <blockquote class="panel-left col-md-offset-1 col-sm-10 animate-box" style="line-height: 2.3em;">
            	<h3>Для поездки в Москву группа может выбрать один из четырех образовательных маршрутов.
            	Каждый маршрут посвящен четырем отраслям экономики.</h3>
            	<ul style="list-style: none;">
								<li><b>Маршрут 1</b> -  Креативные индустрии, Экология, Гуманитарная сфера, Урбанистика</li>
								<li><b>Маршрут 2</b> - Энергетика,  Транспорт и Космос, Цифровые технологии и телекоммуникации, Биотехнологии  и Медицина</li>
								<li><b>Маршрут 3</b> - Креативные индустрии, Экология, Энергетика, Транспорт и космос</li>
								<li><b>Маршрут 4</b> - Гуманитарная сфера, Урбанистика, Энергетика, Биотехнологии  и Медицина</li>
							</ul>
            </blockquote>
        </div>
        </div>
{% endblock %}